.contact__container {
    grid-template-columns: 4fr 8fr;
    /* position: relative; */
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
}

.contact__description {
    font-size: var(--small-font-size);
    line-height: 1.6;
}

.contact__description,
.contact__info .info__item {
    margin-bottom: 20px;
}

.contact__info .info__item {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.contact__info .info__icon{
    color: var(--first-color);
    font-size: var(--h2-font-size);
}

.contact__info .info__title {
    font-size: var(--small-font-size);
}

.contact__info .info__desc {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
}

.info__desc a {
    all: unset;
    cursor: pointer;
}

.form__input-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.form__input-div {
    margin-bottom: 30px;
}

.form__control {
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    color: var(--title-color);
    width: 100%;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: var(--small-font-size);
    transition: all 0.3s ease;
}

.form__control:focus {
    border-color: var(--first-color);
}

.textarea {
    resize: none;
    height: 160px;
}

.form__submit-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-right: 30px;
}

.contact__button-icon {
    font-size: var(--h3-font-size);
    line-height: 64px;
}

.submit__response-div {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
    justify-content: space-between;
    gap: 10px;
}

.submit__button {
    min-width: 210px;
}

.submit__response-div.red {
    color: red;
}

.submit__response-div.orange {
    color: orange;
}

.submit__response-div.green {
    color: green;
}

.submit__response-icon {
    font-size: var(--large-font-size);
    text-align: center;
    line-height: 8px;
}

.form__control.error {
    border: 1px solid red;
}

.form__control.error::placeholder {
    color: red;
}

.contact__form {
    position: relative;
}

.contact__form-note {
    font-size: var(--tiny-font-size);
}

.contact__form-overlay {
    width: 103%;
    height: 103%;
    top: -1.5%;
    left: -1.5%;
    background-color: rgba(128, 128, 128, 0.362);
    position: absolute;
    z-index: 5;
    border-radius: 15px;
    display: none;
    align-items: center;
    justify-content: center;
}

.contact__form-overlay.show{
    display: flex;
}

.overlay-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--first-color);
    border-top: none;
    border-left: none;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}


@-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}